<%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
        <div class="container">
            <div class="card mt-3">
                <div class="card-header">
                    <h2>
                        <%= pergunta.titulo %>
                    </h2>
                </div>
                <div class="card-body">
                    <form method="post" action="/responder">
                        <div class="form-floating">
                            <input type="hidden" name="idPergunta" value="<%= pergunta.id %>">
                            <textarea class="form-control" name="resposta" placeholder="Digite a sua resposta"
                                style="height: 100px">
                    </textarea>
                            <label for="resposta">Resposta</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Salvar</button>
                    </form>
                </div>
            </div>
            <hr>
            <h2>Respostas:</h2>
            <% respostas.forEach(resp=> { %>
                <div class="card mt-3">
                    <div class="card-body">
                        <h6><%= resp.createdAt.toLocaleDateString('pt-BR',{weekday:'long',year:'numeric',month:'long',day:'numeric'})%></h6>
                        <p>
                            <%= resp.resposta %>
                        </p>
                    </div>
                </div>
                <% }) %>
        </div>

        <%- include('../partials/footer') %>