<%- include('../partials/header') %>
<%- include('../partials/navbarAdmin') %>

<div class="container">
  <% if (msgSuccess != undefined && msgSuccess != '') { %>
    <div class="alert alert-success mt-3" role="alert">
      <%= msgSuccess %>
    </div>
  <% } %>

  <% if (msgError != undefined && msgError != '') { %>
    <div class="alert alert-danger mt-3" role="alert">
      <%= msgError %>
    </div>
  <% } %>
  <h3 class="text-center mt-4">Tabela de Contatos</h3>
  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th>Email</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Endereço2</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Cep</th>
        <th>Comentário</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.Email %></td>
        <td><%= user.Telefone %></td>
        <td><%= user.Endereço %></td>
        <td><%= user.Endereço2 %></td>
        <td><%= user.Cidade %></td>
        <td><%= user.Estado %></td>
        <td><%= user.Cep %></td>
        <td><%= user.Comentário %></td>
        </form>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<
<%- include('../partials/footer') %>